.login {
    width: 100%;
    max-height: 100vh;
    position: relative;
}

.login .background {
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

.login .entry {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.login .welcome {
    position: absolute;
    left: 43.6%;
    top: 43.5%;
    transform: translate(50% 50%); 
    width: 255px;
    height: 255px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.06);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.9px);
    -webkit-backdrop-filter: blur(0.9px);
    border: 1px solid rgba(255, 255, 255, 0.13);

    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
    font-size: 32px;
}
