.cardDresseur {
    width: 300px;
    height: 300px;
    background: #FFF;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.cardDresseur img {
    position: absolute;
    top: -80px;
    height: 200px;
}

.cardDresseur .cardDresseur_detail {
    position: absolute;
    top: 140px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardDresseur_detail h3 {
    margin-bottom: 10px;
}
.cardDresseur_resource {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
    margin-top: 15px;
}