.bgPokemon {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.pagePokemonPokedex {
    position: fixed;
    top: 120px;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%);
    width: 80%;

    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 15px;

    display: flex;
    flex-wrap: wrap;
    row-gap: 100px;
    column-gap: 30px;
    justify-content: space-around;
    align-items:flex-start;
}

.pagePokemonPokedex .spritePokemon {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
}

.bgPagePokemon {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 15px;
}

.infoContainer {
    width: 100%;
    min-height: 40%;
    display: flex;
    justify-content: space-around;

}

.infoPokemon {
    width: 30%;
    min-height: 275px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 24px;
    color: #FFF;
    font-weight: 700;
}

.infoPokemon .description {
    width: 90%;
    height: 55%;
    
}

.infoPokemon .description h3{
    font-size: 32px;
    margin: 30px 0;
    
}

.infoPokemon .cost {
    width: 90%;
    height: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 25px;
}

.infoPokemon .cost .chance, 
.infoPokemon .cost .craft {
    width: 33%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoDresseur {
    width: 30%;
    min-height: 275px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    font-size: 24px;
    color: #FFF;
    font-weight: 700;
}

.infoDresseur p {
    width: 100%;
    font-size: 14px;
    white-space: normal;

}

.infoDresseur .possession,
.infoDresseur .miss {
    width: 90%;
    height: 45%;
}

/*  ----  Responsive SmartPhone  ----  */
@media screen and (max-width: 767px) {
    .pagePokemonPokedex {
        top: 200px;
    }
    .infoContainer {
        flex-direction: column;
        justify-content: center;
        row-gap: 50px;
        margin-top: 15px;

    }
    .infoPokemon {
        width: 100%;
        min-height: 250px;
    }
    .infoDresseur {
        width: 100%;
    }
    .spritePokemon {
        height: 320px;
        width: 320px;
    }
}