.galleryHallContainer {
    position: fixed;
    top: 150px;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    border-radius: 15px;
}
.galleryHall {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    row-gap: 100px;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 50px 0;

}

.galleryHall .dresseur {
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.galleryHall a:hover {
    border: 3px solid yellow;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 4px 60px rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.galleryHall a img {
    object-fit: cover;
    height: 250px;
}

.galleryHall a p {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
}

/*  ----  Responsive SmartPhone  ----  */
@media screen and (max-width: 767px) {
    .galleryHallContainer {
        top: 200px;
    }
}